services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: hospital_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: HospitalManagement!
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5454:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - hospital_net

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: api
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=hospital_db;Username=postgres;Password=HospitalManagement!
      - ASPNETCORE_ENVIRONMENT=Development
    networks: 
      - hospital_net

networks:
  hospital_net:
    driver: bridge

volumes:
  postgres_data:
