@model Patient

<div class="container">
    <div class="row">
        <h2>Update patient</h2>
        @if (TempData["OK"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }
        else
        {
            if (TempData["Message"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["Message"]
                </div>
            }
        }
        <div class="col">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-controller="Patient" asp-action="Update" method="post">
                <input type="hidden" asp-for="Id"/>
                <div class="form-group mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input type="text" asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Document" class="form-label"></label>
                    <input type="number" asp-for="Document" class="form-control"/>
                    <span asp-validation-for="Document" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Age" class="form-label"></label>
                    <input type="number" asp-for="Age" class="form-control"/>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Phone" class="form-label"></label>
                    <input type="number" asp-for="Phone" class="form-control"/>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input type="email" asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div>
                    <button id="submit" type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Return</a>
                </div>
            </form>
        </div>
    </div>
</div>